body {
    background-color: #69b5fd;
    font-size: 16px;
    height: 200px;
    width: 360px;
}

.content{
    color: #f0f8ff;
    text-align: center;
}

.content div{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.reference{
    font-size: 12px;
}

.jisho_ref{
    color: aliceblue;
}
